@charset "utf-8";
body{
    background-color: #f6f5f5;
    margin:0px;
    padding:0px;
}
img{
    width :100%;
    height: auto;
}
.row{ 
    width:100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}
@media only screen and (min-width: 768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height: 95vh;
    background-image: url("\images\mypic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;

}
nav ul{
    display: flex;
}
nav ul li a{
    margin:30px ;
    font-family: myriad pro regular;
    color:grey;
    font-size 15px ;
    font-weight: 700;
}
.active
{
    font-weight: bold;
    color:#2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color:#6d6d6d;
    font-size:22px ;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size:60px ;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color:#403e3e;
    font-size: 30px;
}
.text-container p:nth-child(4){
    font-family: myriad pro regular;
    color:#403e3e;
    font-size: 30px;
}
.text-container p{
    line-height: 0px;
    margin: :45px 0px 25px;
}
.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;
}
.image{
    height:560px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translate(-70%);
}
.about-container{
    width: 80%;
    height:330px;
    background-color: #FFFFFF;
    border-radius:20px ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin:-7% auto 20px auto;
    position: relative;
}
.down-cv a{
    color:black;
}
